/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

.core-login-site-logo {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 250px !important;
}
